
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAPOEIRA LIVE 2020</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
 
    .column {
      float: left;
      width: 50%;
    }
    
    .top-left {
      position: absolute;
      top: 70px;
      left: 70px;
    }
  </style>
</head>
<body class="w3-black">
  <!-- Navbar -->
  <!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="https://www.nyccapoeira.com/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="https://mmm-code.github.io/automatic-happiness/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CAPOEIRA LIVE 2020</a>
    <a href="https://www.nyccapoeira.com/classes" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CLASSES</a>
    <a href="https://www.nyccapoeira.com/photos" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PHOTOS</a>
    <a href="https://www.nyccapoeira.com/contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="https://www.nyccapoeira.com/" class="w3-bar-item w3-button w3-padding-large" >HOME</a>
  <a href="https://mmm-code.github.io/automatic-happiness/" class="w3-bar-item w3-button w3-padding-large" >CAPOEIRA LIVE 2020</a>
  <a href="https://www.nyccapoeira.com/classes" class="w3-bar-item w3-button w3-padding-large" >CLASSES</a>
  <a href="https://www.nyccapoeira.com/photos" class="w3-bar-item w3-button w3-padding-large" >PHOTOS</a>
  <a href="https://www.nyccapoeira.com/contact" class="w3-bar-item w3-button w3-padding-large" >CONTACT</a>
</div>
  


  <!-- Page Content -->
  <!-- ================ Header/Home ================ -->
    
  
  <div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="https://res.cloudinary.com/fifthworldcitizen/image/upload/v1582162066/CAPNYC2020/zdfish.jpg" alt="Fish" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-jumbo"><span class="w3-hide-small">GINGA </span> CAPOEIRA BERIMBAU</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap"></h5>
    <h3 class="w3-hide-medium w3-hide-small">March 6th, 7th & 8th<br/>NEW YORK CITY</h3>
    <br/>
    <h3><a href="https://cash.me/$PAULOAIRES"><button type="button" class="btn btn-danger"><h5>Click here to PAY and Register Now!<br/></h5></button></a></h3>
    <br/>
    <br/>
    <br/ class="clear">
  </div>
  </header>  
    <hr/>
    
  <!-- CONVIDADOS -->
  <div class="w3-center">
    <br/ class="clear">
    <br/>
    <h1>FESTIVAL DO GRUPO CAPOEIRA ANGOLA PALMARES <br/>NEW YORK CITY</h1>
    <br/>
   
    <br/ class="clear">
    <hr/>
    <br/ class="clear">
  
    </div>
  
<!-- Video-->
  <div class=" w3-center">
    <iframe
  src="https://player.cloudinary.com/embed/?cloud_name=fifthworldcitizen&public_id=https%3A%2F%2Fres.cloudinary.com%2Ffifthworldcitizen%2Fvideo%2Fupload%2Fv1582173722%2FCAPNYC2020%2Fmg.mp4&fluid=true&controls=false&muted=true&autoplay=true&loop=true&source_types%5B0%5D=mp4"
  width="640"
  height="480"
  allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
  allowfullscreen
  frameborder="0"
></iframe>
    
  </div>
  <br/ class="clear">
  <hr/>  
  <br/ class="clear">  
<!-- Os Ministradores -->    
<div class="w3-center">
  <h2>Convidados Ministradores Das Oficinas.</h2>
  <br/><br/><br/>
  <h2>Mestre Gulliver</h2>
  <br/>
  <a href="http://www.nyccapoeira.com/"><h2 class="w3-text-grey">Capoeira Angola Palmares New York City</h2></a>
  <br/><br/>
  <br/>
  <h2>Mestre Bomba</h2>
  <br/>
  <a href="https://www.capoeirafitnessdc.com/capoeirabarrovermelho"><h2 class="w3-text-grey">Capoeira Barro Vermelho</h2></a>
  <br/><br/>
  <h2>Contra-Mestre Omi</h2>
  <br/>
  <a href="http://www.iledepalmares.com/"><h2 class="w3-text-grey">Ile de Palmares</h2></a>
  <br/><br/>
  <h2>Contra-Mestre Graveto, Ithaca</h2>
  <br/>
  <a href="http://vadiacao.net/index.html"><h2 class="w3-text-grey">Capoeira Angola Negaça</h2></a>
  <br/><br/>
<br class="clear"/>
</div>    
<!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="https://res.cloudinary.com/fifthworldcitizen/image/upload/v1582150035/CAPNYC2020/abomba.png" style="width:100%">
        <img src="https://res.cloudinary.com/fifthworldcitizen/image/upload/v1582150033/CAPNYC2020/eomi.png" style="width:100%">
      </div>

      <div class="w3-half imgrid">
        <img src="https://res.cloudinary.com/fifthworldcitizen/image/upload/v1582150035/CAPNYC2020/cgulliver.png" style="width:100%">
        <img src="https://res.cloudinary.com/fifthworldcitizen/image/upload/v1582150035/CAPNYC2020/fgraveto.png" style="width:100%">
        
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
<br/ class="clear">
<hr/>  
<br/ class="clear">    
<div class="w3-center">
    <a href="https://cash.me/$PAULOAIRES"><button type="button" class="btn btn-danger"><h3>Click here to PAY and Register Now!<br/></h3></button></a>

  
  
  
  <h3>We look forward to seeing you at this event!</h3>
  <br/>
  <h3>AULA DE MOVEMENTOS E RODA VAMOS COMESSAR A BRINCADEIRA DE CAPOEIRA.</h3>
<br class="clear"/>
</div>
<!-- CALENDER -->
<hr/>
<br class="clear"/>
<div class="w3-row-padding w3-center">
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="https://images.unsplash.com/photo-1534766664852-7dbfbf053c4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" alt="44 Aragusuku, Taketomi-chō, Yaeyama-gun, Okinawa-ken 907-1435, Japan Unsplash @dusk_cicada" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container">
      <h3><b>MARCH 6</b></h3>
      <h4>Class with Mestre Gulliver!!!</h4>
    </div>
  </div>
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="https://images.unsplash.com/photo-1546026423-cc4642628d2b?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="Vietnam Unsplash @quinguyen" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container">
        <h3><b>MARCH 7</b></h3>
        <h4>Movimentos e Musica!!!</h4>
      </div>
  </div>
  <div class="w3-third w3-container">
      <img src="https://images.unsplash.com/photo-1510021115607-c94b84bceb1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=742&q=80" alt="Cairns City, Australia Unsplash @davidclode" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container">
        <h3><b>MARCH 8</b></h3>
        <h4>Class & Mestre Joao Grande Roda!!!</h4>
      </div>
  </div>
</div>
<br class="clear"/>
<hr/>
<br class="clear"/>
<!-- HERO SECTION -->      
  <div class="w3-center">
    <div>
        <img src="https://media.giphy.com/media/jPLuoSdvrhNvXbFdKa/giphy.gif" alt="Capoeira Logo" style="width:100%">
        <h3><strong>Capoeira </strong>(cap·o·ei·ra) is a fast and versatile martial art that is historically focused on fighting outnumbered or at a technological disadvantage. The ginga (literally: rocking back and forth; to swing) is the fundamental movement in Capoeira, important both for attack and defense purposes. <br/><br/>Capoeira has two main objectives. One is to keep the Capoeirista (a person who plays Capoeira) in a state of constant motion, preventing him or her from being a still and easy target. <br/><br/>The other, using also fakes and feints, is to mislead, fool, trick the opponent, leaving them open for an attack or a counter-attack.<br/><br/></h3>
    </div>
    <div>
        <img src="https://media.giphy.com/media/Yki2fWUOg4LWQT5RdI/giphy.gif" alt="Leaders Path" style="width:100%">
        <h3><strong>OUR TEACHERS </strong><br/><br/>Our teachers are leaders in the Capoeira community. They focus on empowering their students to reach their highest potential, while advancing the artform of Capoeira and Afro-Brazilian culture throughout the world.<br/><br/></h3>      
    </div>
    <div>
        <img src="https://media.giphy.com/media/l16Z43PhdN7pkoH35v/giphy.gif" alt="Mestre No Hero" style="width:100%">
        <h3><strong>The Founder of Capoeira Angola Palmares </strong><br/><br/>Norival Moreira de Oliveira (born June 22, 1945), also known as Mestre Nô is a Grand Master of Capoeira Angola, who was initiated into Capoeira Angola at the age of four.<br/><br/> He was born in Coroa, Itaparica, Salvador, Bahia, Brazil. <br/><br/>At 7, Norival and his family moved to Massaranduba, a poor neighborhood not far from the church of Bomfim. <br/><br/>Mestre Nilton and Mestre Cutica, brothers and highly respected Capoeiristas who lived down the block, took young Norival to meet the elder Masters Pirró and Zeca. Pirró, Zeca and Nilton organized and commanded many Capoeira Angola rodas in the streets.<br/><br/></h3>
    </div>
    <div>
        <img src="https://media.giphy.com/media/Y4yqwIaBb1RilvRN5c/giphy.gif" alt="Mestre No Relogio" style="width:100%">
        <h3>Norival began playing in the Mestre's rodas and in 1965 he started teaching in his own academy. Mestre Nô founded Capoeira Academies Retintos, Orixás da Bahia and Capoeira Angola Palmares. <br/><br/>He has taught thousands of capoeristas. He is the Founder, President, and Grand Master of Associação Brasileira Cultural de Capoeira Palmares (ABCCP) an organization dedicated to teaching, promoting and maintaining the traditions of Capoeira Angola. <br/><br/>He is also the actual president of A.B.C.A. ( Associação Brasileira de Capoeira Angola ), the most respected association created by the eldest masters to maintain and preserve Capoeira Angola as it is. <br/><br/><strong>Mestre Nô is known throughout the world to be the "Mestre dos Mestres", the "Master of Masters", for having graduated over 75 students to the level of Master, which is unique for any teacher to accomplish in their lifetime.<br/><br/></strong></h3>
    </div>
    <div>
        <img src="https://media.giphy.com/media/U4SPWiMZddj4fc2ZYT/giphy.gif" alt="Mestre No com um crianca" style="width:100%">
        <h3>Today, Mestre Nô lives with his family and grand children in Boca do Rio, Salvador. His Academy is near his home. He travels throughout Brazil, the US, Europe, and other parts of the world helping Capoeiristas reach their goals. <br/><br/>Each year there is an international forum to train and develop the students and teachers of CAPOEIRA ANGOLA PALMARES in Boca do Rio, Bahia, Brazil.<br/><br/></h3>
    </div>
<!-- final image -->
    <div class="w3-center">
      <img src="https://media.giphy.com/media/JrdPmXdlGXvFDPItql/giphy.gif" alt="Capoeira Angola Palmares official logo" style="width:100%">
        <h2><strong>“Capoeira na roda, capoeira na vida.”</strong><br/>-- Mestre Nô</h2>
    </div>
    <div class="w3-center">
      <a href="https://cash.me/$PAULOAIRES"><h2 class="w3-text-green"><strong>Vamos Jogar Capoeira!</strong><br/><br/>Register Today!</h2><br/><br/><br/>
      <img src="https://media.giphy.com/media/daZejSMLeKdF1cV7zi/giphy.gif" alt="Capoeira Roda" style="width:100%"></a>
      <br/>
    </div>
    <div>
      <br/>
        <img src="https://media.giphy.com/media/xUA7biF7n8LcAqh4bK/giphy.gif" alt="Heart" style="width:100%">
        <h3>Would you like to participate, but you are unable to attend?<br/><br/>You can contribute to help keep this rich, Capoeira lineage going strong!<br/><br/><a href="https://www.gofundme.com/f/ginga-capoeira-berimbau?utm_medium=copy_link&utm_source=customer&utm_campaign=p_lico+share-sheet"><img src="https://res.cloudinary.com/fifthworldcitizen/image/upload/v1582683548/CAPNYC2020/donate.png"></a><br/><br/></h3><br/><br/><h3>Ie, Vamos Jogar Capoeira Hoje!</h3><br/><br/>
    </div>
    
    <!-- End HERO SECTION -->
  </div>    
  
    <!-- FINAL DIV EVERYTHING ABOVE THIS -->
</div>
  
</body>
</html>
