
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THANK YOU!</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
  <style>
 
    .column {
      float: left;
      width: 50%;
    }
    
    .top-left {
      position: absolute;
      top: 70px;
      left: 70px;
    }
  </style>
</head>
<body class="w3-black">
  <div>  
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a href="https://www.nyccapoeira.com/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="https://www.nyccapoeira.com/classes" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CLASSES</a>
        <a href="https://www.nyccapoeira.com/photos" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PHOTOS</a>
        <a href="https://www.nyccapoeira.com/contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
        <a href="https://www.gofundme.com/f/ginga-capoeira-berimbau?utm_campaign=p_email%2B4904-welcome-wp-v5&utm_medium=email&utm_source=product" class="w3-bar-item w3-button w3-padding-large" >DONATIONS</a>
      </div>
    </div>
    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="https://www.nyccapoeira.com/" class="w3-bar-item w3-button w3-padding-large" >HOME</a>
      <a href="https://www.nyccapoeira.com/classes" class="w3-bar-item w3-button w3-padding-large" >CLASSES</a>
      <a href="https://www.nyccapoeira.com/photos" class="w3-bar-item w3-button w3-padding-large" >PHOTOS</a>
      <a href="https://www.nyccapoeira.com/contact" class="w3-bar-item w3-button w3-padding-large" >CONTACT</a>
      <a href="https://www.gofundme.com/f/ginga-capoeira-berimbau?utm_campaign=p_email%2B4904-welcome-wp-v5&utm_medium=email&utm_source=product" class="w3-bar-item w3-button w3-padding-large" >DONATIONS</a>
    </div>
    <!-- Page Content -->
  <!-- ================ Header/Home ================ -->
    
  
    <div class="w3-padding-large" id="main">
  <!-- Header/Home -->
    
      <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
        <br/ class="clear">
        <img class="w3-image" src="https://res.cloudinary.com/fifthworldcitizen/image/upload/v1582162066/CAPNYC2020/zdfish.jpg" alt="Fish" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
          <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge"><br/><br/><br/>VAMOS<br/>JOGAR<br/>CAPOEIRA<br/>March 6th, 7th & 8th<br/>NEW YORK CITY</h1>
          <h2 class="w3-hide-large" style="white-space:nowrap"><br/><br/><br/>VAMOS<br/>JOGAR<br/>CAPOEIRA<br/>March 6th, 7th & 8th<br/>NEW YORK CITY</h2>
          <br/>
          <h2>Thank You for everyone who attended the event!</h2>
          <br/ class="clear">
        </div>
      </header>  
    </div>
    <!-- next -->
    <div class="w3-center w3-text-white">
      <h2>We are preparing for the next event in June 2020.</h2>
      <br/><br/><br/>
      <p><span style="font-size:20px;"><span style="font-family:Georgia,serif;">Stay healthy, keep training!</span></span></p>
      <br/><br/><br/>
      <h2><a href="https://www.nyccapoeira.com/photos">We have photos from the March 2020 Event!</a></h2>
      
    </div>  
    <br/><br/>
    <div><p style="text-align: center"><img src="https://media.giphy.com/media/l1C4JXbojc9o6EMkku/giphy.gif" alt="cover" width="550" height="345"></p></div>
    <br/><br/>
    <br/><br/>
    
  
    <!-- FINAL DIV EVERYTHING ABOVE THIS -->
  </div>
  
</body>
</html>
